# Python
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# OS / Editor
.DS_Store
__MACOSX/
Thumbs.db
.idea/
.vscode/

# Secrets / Env
.env
.env.local
*.key

# Node
node_modules/
